pandas
python-dotenv
pypdf
unstructured
faiss-cpu
langchain
langchain-classic
langchain-text-splitters
langchain-community
langchain-openai
sentence-transformers
transformers
streamlit
botocore
boto3
supabase
